.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(216, 216, 216);
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-flow: row nowrap;
}

.navigation--link {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 25px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  flex-grow: 1;
}

.navigation--active {
  text-decoration: underline;
}
