.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid var(--main-border-color);
  background: var(--main-bg-color);
  display: flex;
  flex-flow: row nowrap;
}

.navigation--link {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 25px;
  text-decoration: none;
  color: var(--main-color);
  flex-grow: 1;
}

.navigation--active {
  text-decoration: underline;
}
